* {
    margin: 0;
    padding: 0;
    
    
}

.corpo {
    box-sizing: border-box;
    height: 100vh;
}

.cabecalho {
    background-color: green;
    display: flex;
    justify-content: center;
}

.cabecalho__titulo {
    margin: 15px;
    border: solid 1px black;
    padding: 5px 10px;
    background-color: grey;
}

.conteudo {
    margin: 45px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.conteudo__section {
    background-color: grey;
    
}

.conteudo__titulo {
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: space-around;
}

.formulario-dados {
    border: solid 1px black;
    border-radius: 2px;
}

.formulario-dados::placeholder {
    color: rgb(59, 58, 58);
}

.conteudo__listagem {
    background-color: gray;
}

.botoes {
   text-align: center;
}

.botao {
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}

.submit {
    background-color: green;
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

.reset {
    background-color: red;
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

.conteudo__listagem {
    display: flex;
    flex-direction: column;
}

.listagem__titulo {
    text-align: center;
}

.rodape {
    background-color: green;
    display: flex;
    flex-direction: column;
    text-align: center;
}

