:root {
    --cor-principal: #008000;
    --cor-segundaria: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
}

.cabecalho__titulo {
    margin: 15px;
    border: solid 1px #000000;
    padding: 5px 10px;
    background-color: var(--cor-segundaria);
}

.conteudo {
    margin: 40px 250px ;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.conteudo__section {
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
    gap: 40px;
}

.conteudo__titulo {
    text-align: center;   
}

.conteudo__texto { 
    text-align: center;
}

.conteudo__formulario {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputs {
    max-width: 100;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-content: space-around ;

}
.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 10px;
}

.formulario-dados {
    margin: 0 15px 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.formulario-dados::placeholder {
    color: rgb(59, 58, 58);
}

.botoes {
   text-align: center;
}

.botao {
    margin: 15px 10px;
    padding: 3px;
    border-radius: 5px;
}

.submit {
    background-color: #008000;
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

.reset {
    background-color: #ff0000;
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

.conteudo__listagem {
    background-color: var(--cor-segundaria);
    display: flex;
    flex-direction: column;
}

.listagem__titulo {
    text-align: center;
}

.rodape {
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* Resposividade */
@media screen and (max-width: 1024px) {
    .conteudo__section {
        gap: 10px;
    }

    .inputs {
        max-width: 100rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40PX;
    }

    .formulario-dados {
        width: 100%;
    }
}