.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__titulo {
    margin: 15px;
    border: solid 1px #000000;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--cor-segundaria);
}

.links-pages {
    margin: 5px;
    border-radius: 3px;
    padding: 2px 10px;
    background-color: #b9b4b4;
    text-decoration: none;
    color: #000000;
}

.login {
    background-color: #89de35;
}

.link-logo {
    text-decoration: none;
    color: #000000;
}

.nav-bar {
    display: none; 
}

.tres_barras {
    background-color: black;
    width: 35px;
    height: 4px;
}


@media screen and (max-width: 1024px) {

    .cabecalho {
        position: relative;
    }
    
    .links__res-mobile {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px;   
        right: 0%;
        width: 30vw;  
        text-align: center;   
    }

    .links-pages {
        margin: 0;
        padding: 5px;
    }

    .links-pages:hover {
        background-color: aqua;
    }



    .nav-bar {
        display: flex; 
        flex-direction: column;
        padding: 10px;
        margin:  0 10px;
        gap: 8px;

    }

    .nav-bar:hover {
        border: solid 1px #000000;
    }
}



