.conteudo__home {
    display: flex;
    justify-content: space-evenly;
    margin: 80px;
    align-items: center;
    padding: 80px 40px;
    gap: 40px;
    background-color: var(--cor-segundaria);
    border-radius: 7px;
    
}

.descricao__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.descricao__cadastrar {
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #89de35;
    width: 20vw;
}

.descriacao__img {
    width: 40vw;
}

@media screen and (max-width: 1024px) {


}