.conteudo {
    display: flex;
    justify-content: center;
    margin: 100px;
    align-items: center;
    padding: 100px;
    gap: 80px;
    
}

.descriacao__img {
    width: 40vw;
}

@media screen and (max-width: 1024px) {


}