@import url("header.css");

:root {
    --cor-principal: #008000;
    --cor-segundaria: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conteudo {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.descricao__section

.conteudo__section {
    background-color: var(--cor-segundaria);
    margin: 40px 250px;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
    gap: 40px;
}

.conteudo__titulo {
    text-align: center;   
}

.conteudo__texto { 
    text-align: center;
}

.conteudo__formulario {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputs {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-content: space-around;
}

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 10px;
}

.formulario-dados {
    margin: 0 15px 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.formulario-dados::placeholder {
    color: rgb(59, 58, 58);
}

.botoes {
   text-align: center;
}

.botao {
    margin: 10px 5px;
    padding: 3px;
    border-radius: 5px;
}

.submit {
    background-color: #008000;
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

.reset {
    background-color: #ff0000;
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

.conteudo__lista {
    margin: 40px 100px;
    background-color: var(--cor-segundaria);
    display: flex;
    border-radius: 5px; 
    flex-direction: column;
    align-items: center;
    padding: 5px 5px 15px 5px;
}

.lista__titulo {
    text-align: center;
    padding-bottom: 15px;
}

.table {
    width: 97%;
    border-collapse: collapse;
    text-align: center;
    background-color: #008000;
}

.table thead tr th {
    padding: 5px 0; 
}

.table tr {
    border: 1px solid #000;
}

.table .lista__user tr td {
    padding: 5px 0; 
}

.table .lista__product tr td {
    padding: 5px 0; 
}

.table .lista__user tr:hover {
    background: #acaead;
}

.table .lista__product tr:hover {
    background: #acaead;
}

.lista__user .lista__product {
    background-color: #ffffff;
}

.rodape {
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.perfil {
    text-decoration: none;
    color: #000000;
}

.perfil:hover {
    color: #ffffff;
}

img {
    width: 50%;
}

/* Resposividade */
@media screen and (max-width: 1024px) {
    
    .cabecalho__titulo {
        text-align: center;
        font-size: 12px;
    }

    .conteudo {
        gap: 0px;
    }
    
    .conteudo__section {
        background-color: var(--cor-segundaria);
        margin: 20px 10px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        gap: 20px;
        font-size: 9px;
    }

    .formulario-dados {
        font-size: 8px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        font-size: 8px;
    }

    .botao {
        margin: 2px 2px;
        padding: 3px;
        border-radius: 5px;
    }

    .conteudo__lista {
        background-color: var(--cor-segundaria);
        margin: 20px 10px;
        font-size: 7px;
    }

    .lista__titulo {
        text-align: center;
        padding-bottom: 10px;
    }

    .table {
        border-collapse: collapse;
        text-align: center;
        background-color: #008000;
    }

    .table thead tr th {
        padding: 0px 0; 
    }

    .table tr {
        border: 1px solid #000;
    }

    .table .lista__user tr td {
        padding: 0px 0; 
    }

    .botao-responsividade {
        font-size: 5px;
    }

    .rodape {
        font-size: 8px;
    }

}