
    <header class="cabecalho">
        <a class="link-logo" href="/frontend/pages/home.html">
            <h3 class="cabecalho__titulo">UserPro</h3>
        </a>
        <div class="links__res-mobile">
            <a class="links-pages" href="dashboard.html">Dashboard</a>
            <a class="links-pages" href="products.html">Produtos</a>
            <a class="links-pages" href="users.html">Usuários</a>

            <a class="links-pages login" href="login.html">Entrar</a>

        </div>
        <a id="nav-bar" href="#" class="nav-bar">
            <div class="tres_barras"></div>
            <div class="tres_barras"></div>
            <div class="tres_barras"></div>
        </a>
    </header>
